h2{
	margin-top:0px;
	margin-left:160px;
	}
#header {
	height:100px;
	border-bottom:10px solid #2E2C2C;	
	}
#main{
	border-right: 2px solid #0E0E0E;
	border-left: 2px solid #0E0E0E;
	width:auto;
	float:none;
	
	
}